:root {
    --first: #FFFCF2;
    --second: #C9C6BE;
    --third: #92908A;
    --fourth: #5C5A56;
    --fifth: #252422;
    --accent: #EB5E28;

}

$defaultBoxShadow: 2px 4px 4px rgba(0, 0, 0, 0.37);
$defaultTextShadow: 3px 2px 3px rgba(0, 0, 0, 0.30);