$white_FFFCF2: #FFFCF2;
$silver_C9C6BE: #C9C6BE;
$gray_92908A: #92908A;
$darkGray_5C5A56: #5C5A56;
$black_252422: #252422;
$orange_EB5E28: #EB5E28;


$defaultBoxShadow: 2px 4px 4px rgba(0, 0, 0, 0.37);
$defaultTextShadow: 3px 2px 3px rgba(0, 0, 0, 0.30);