@import "../../../assets/_variables.scss";

html, body {
    overflow-x: hidden;
    width: 100%;
}

html {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    padding: 1%;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.banner {
   
    margin-left: 1%;
    margin-right: 1%;
    padding: 5%;
    margin-top: 3%;
    height: 20%;
    width: 90%;
    box-sizing: border-box;
    background-color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 25px;
    box-shadow: $defaultBoxShadow;
    overflow: hidden;


    img {
        width: 20%;
        height: 20%;
        border-radius: 25px;
    }
}

.header {
    
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    padding-top: 50px;

    h1 {

        color: var(--first);
        max-width: max-content;
        font-size: 280%;
        font-weight: 500;
        text-shadow: -5px 0 #c7c5bd;
        letter-spacing: 30px;
        margin: 0;
    }

    h3 {

        margin: 0;
        margin-top: 5%;
        font-size: 160%;
        color: var(--first);
        letter-spacing: 10px;
        font-weight: 300;
    }

}


.form-container {

    display: flex;
    margin: auto;
    margin-top: 30px;
    width: fit-content;
    padding: 1%;
    max-width: fit-content;
    height: 30%;
    background-color: var(--fifth);
    border-radius: 25px;
    box-shadow: $defaultBoxShadow;
    justify-content: center;
    box-sizing: border-box;

    form {
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    button {

        margin-top: 20px;
        border: none;
        display: flex;
        align-items: center;
        width: 220px;
        height: 60px;
        box-shadow: $defaultBoxShadow;
        box-sizing: border-box;
        border-radius: 25px;
        font-size: 20px;
        font-weight: lighter;
        color: var(--first);
        letter-spacing: 4px;
        text-shadow: $defaultTextShadow;
        padding-left: 20px;
    
        span {
    
            margin-left: 20px;
        }
        svg {
    
            width: 50px;
            height: 50px;
            stroke: var(--first);
        }

        &:hover {

            background-color: var(--fourth);
            transition: 0.2s;
        }
    }
}

.form-group {
    
    display: flex;
    flex-direction: column;
    background-color: var(--accent);
    width: 100%;
    height: 55%;
    border-radius: 25px;
    padding: 30px 25px 15px 25px;
    box-shadow: $defaultBoxShadow;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
}

input {

    text-align: center;
    width: 400px;
    border: none;
    background-color: var(--first);
    color: var(--fifth);
    border-radius: 25px;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: $defaultBoxShadow;
    box-sizing: border-box;
    padding-left: 10px;

    &::placeholder {

        color: var(--third);
    }

    &:focus {

        outline: none;
    }
}

.login-error {

    color: red;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 100px;
    text-align: center;
    position: absolute;
}