@import "../../../assets/_variables.scss";

.container {

    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    background-color: var(--second);
    width: 80px;
    height: 50px;
    padding-left: 10px;
    border-bottom-left-radius: 25px;
    box-shadow: $defaultBoxShadow;

    svg {

        width: 25px;
        height: 40px;
        margin-right: 5px;
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.37));
    }

    #number {
        color: var(--first);
        text-shadow: $defaultTextShadow;
        font-size: 22px;
        letter-spacing: 2px;
    }
}