@import "../../../assets/_variables.scss";

.container {

    height: 800px;
    width: 1350px;
    background-color: $silver_C9C6BE;
    border-radius: 25px;
    box-shadow: $defaultBoxShadow;

}

.internal-container {

    width: 1300px;
    height: 85%;
    background-color: $black_252422;
    box-shadow: $defaultBoxShadow;
}