@import "../../../assets/_variables.scss";


svg {

    height: 55px;
    width: 55px;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.37));
}

button {

    display: flex;
    border: none;
    align-items: center;
    
}

.search-bar {

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 55%;
    border-radius: 125px;
    box-shadow: $defaultBoxShadow;
    background-color: var(--accent);
    padding: 12px;
    box-sizing: border-box;

    &:focus-within {

        transition: 0.2s ease-in-out;
        background-color: var(--fifth);
    }

    &:hover {

        transition: 0.2s ease-in-out;
        background-color: var(--fifth);
    }

    input {

        background-color: transparent;
        border: none;
        width: 100%;
        font-size: 22px;
        color: var(--fifth);
        margin-left: 10px;

        &:focus {

            outline: none;
        }

        &::placeholder {

            color: var(--third);
            letter-spacing: 4px;
            text-shadow: $defaultTextShadow;
        }
    }

    button {
        
        position: relative;
        border-radius: 100%;
        background: rgba($color: var(--accent), $alpha: 0);
        margin: 5px;
    }
}

.input-container {

    display: flex;
    width: 100%;
    height: 50px;
    border: 1px solid var(--third);
    border-radius: 125px;
    background-color: var(--first);
    justify-content: center;

    svg {

        width: 45px;
        height: 45px;
        stroke: var(--fourth);
    }
}

.actionBTN {

    width: 230px;
    height: 80px;
    box-shadow: $defaultBoxShadow;
    border-radius: 25px;
    font-size: 22px;
    font-weight: lighter;
    color: var(--first);
    letter-spacing: 4px;
    text-shadow: $defaultTextShadow;

    span {

        margin-left: 20px;
    }

    #add {

        stroke: var(--first);
    }

    #check {

        fill: var(--first);
    }
} 


.container {

    height: 95%;
    width: 165%;
    background-color: var(--second);
    border-radius: 25px;
    box-shadow: $defaultBoxShadow;
    box-sizing: border-box;
    padding: 5%;
}

.row {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;    
    box-sizing: border-box;
}

.wrapper {

    height: 88%;
    box-sizing: border-box;
}

.internal-container {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: var(--first);
    box-shadow: $defaultBoxShadow;

}

.user-info-container {

    display: flex;
    height: 100%;
    background-color: var(--accent);
    width: 30%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    align-self: flex-end;
    padding: 20px;
    box-sizing: border-box;
}

.user-info-wrapper {

    background-color: var(--fifth);
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.user-data-container {

    height: 100%;
    width: 70%;
    box-sizing: border-box;
    padding: 25px;
    overflow-y: auto;
}

.user-card {

    display: flex;
    border-radius: 25px;
    box-shadow: $defaultBoxShadow;
    height: 80px;
    width: 100%;
    background-color: var(--fourth);
    color: var(--first);
    box-sizing: border-box;
    margin-bottom: 3%;;

    &:hover {

        cursor: pointer;
        scale: 1.03;
        transition: 0.2s ease-in;
    }
}

.checkBox {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    align-self: flex-start;
    height: 100%;
    border-right: 1px solid var(--first);

    svg {
        
        width: 60px;
        height: 60px;
        stroke: var(--first);
    }
}