@import "../assets/_variables.scss";

html, body {

    overflow: hidden;
}

.container {

    display: inline-flex;
    height: 100%;
    width: 100%;
}

.activeUsers {

    position: absolute;
    top: 0;
    right: 0;
}

.sidebar {

    height: 100%;
}

.mainDiv {

    margin-top: 100px;
    margin-left: 50px;
    width: 100%;
}