<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="submitUserForm()">
        <div class="row">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" formControlName="nome" name="nome">
        </div>   
        <div class="row">
            <label for="cognome">Cognome:</label>
            <input type="text" id="cognome" formControlName="cognome" name="cognome">
        </div> 
        <div class="row">
            <label for="data-nascita">Data di nascita:</label>
            <input type="date" id="data-nascita" formControlName="dataNascita" name="dataNascita">
        </div> 
        <div class="row">
            <label for="codice-fiscale">Codice fiscale:</label>
            <input type="text" id="codice-fiscale" formControlName="codiceFiscale" name="codiceFiscale">
        </div>
        <div class="row">
            <label for="indirizzo">Indirizzo:</label>
            <input type="text" id="indirizzo" formControlName="indirizzo" name="indirizzo">
        </div>  
        <div class="row">
            <label for="email">E-mail:</label>
            <input type="email" id="email" formControlName="email" name="email">
        </div> 
        <div class="row">
            <label for="telefono">N. di telefono:</label>
            <input type="tel" id="telefono" formControlName="telefono" name="telefono">
        </div> 
        <div class="row">
            <label for="scadenza-certificato">Scadenza certificato medico:</label>
            <input type="date" id="scadenza-certificato" style="font-size: 14;" formControlName="scadenzaCertificato" name="scadenzaCertificato">
        </div> 
        <div class="row">
            <label for="tipo-abbonamento">Tipo di abbonamento:</label>
            <select id="tipo-abbonamento" formControlName="tipoAbbonamento" name="tipoAbbonamento">
                <option value="" selected disabled>Seleziona</option>
                <option value="mensile">Mensile</option>
                <option value="trimestrale">Trimestrale</option>
                <option value="semestrale">Semestrale</option>
                <option value="annuale">Annuale</option>
            </select>
        </div>

        <div class="btn-row">
            <button id="confirm" type="submit">
                <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Conferma
            </button>
            <button id="cancel" (click)="cancel()">
                Annulla
            </button>
        </div>
    </form>
</div>



